doctype html
html
  head
    link(rel="stylesheet",href="index.css")
    script(src="SimpleDialogs.js")
  body
    header
      h1
        a(href="https://github.com/sparklinlabs") sparklinlabs
        |  / 
        a(href="https://github.com/sparklinlabs/simple-dialogs") simple-dialogs
      p Non-blocking HTML5 dialogs
    main
      button.confirm(title="Ctrl+Q") Confirm
      button.info Info
      button.prompt Prompt
      button.select Select

    script.
      var confirmElt = document.querySelector("button.confirm");
      confirmElt.addEventListener("click", confirm);

      function confirm() {
        var confirmOptions = {
          header: "Weather postcast",
          validationLabel: "Yes",
          cancelLabel: "No"
        }
        new SimpleDialogs.ConfirmDialog("Is it rainy today?", confirmOptions, function(result) { console.log(result); })
      }

      var infoElt = document.querySelector("button.info");
      infoElt.addEventListener("click", function() {
        var infoOptions = {
          header: "Compliment dispenser",
          closeLabel: "Thanks! You too!"
        }
        new SimpleDialogs.InfoDialog("You look stunning today!", infoOptions, function(result) { console.log(result); })
      })

      var promptElt = document.querySelector("button.prompt");
      promptElt.addEventListener("click", function() {
        var promptOptions = {
          header: "Accounting",
          validationLabel: "There you go",
          cancelLabel: "Not your concern"
        }
        new SimpleDialogs.PromptDialog("How many fingers do you have?", promptOptions, function(result) { console.log(result); })
      })

      var selectElt = document.querySelector("button.select");
      selectElt.addEventListener("click", function() {
        var selectChoices = {
          "little": "A little?",
          "decent": "A good amount",
          "enjoy": "You enjoyed it!",
          "tooMuch": "Wayyyy too much!"
        }
        var selectOptions = {
          header: "Enjoyment rating",
          size: 4
        }
        new SimpleDialogs.SelectDialog("How much fun did I have building this demo?", selectChoices, selectOptions, function(result) { console.log(result); })
      })
      
      document.addEventListener("keydown", function(event) {
        if (event.keyCode === 81 && event.ctrlKey) confirm();
      })
